<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <script src="./dist/main.js"></script>
    <script src="https://kit.fontawesome.com/216e0412eb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <main id="app"></main>
    <details>
    <summary> material </summary>
      <ul>
        <li><a href='https://www.freepik.com/vectors/flat-nature'>Flat nature vector created by freepik - www.freepik.com</a></li>
        <li><a href='https://www.freepik.com/vectors/jungle'>Jungle vector created by freepik - www.freepik.com</a></li>
        <li><a href='https://www.freepik.com/vectors/sun-icon'>Sun icon vector created by freepik - www.freepik.com</a></li>
        <li><a href='https://www.freepik.com/vectors/exotic-flowers'>Exotic flowers vector created by freepik - www.freepik.com</a></li>  
        <li><a href='https://www.freepik.com/vectors/tropical-wallpaper'>Tropical wallpaper vector created by freepik - www.freepik.com</a></li>
        <li><a href="https://www.freepik.com/free-vector/love-word-message-flowers-notepaper-with-paper-clips-binder-clip-washi-tape-light-brown-textured-paper-background-vector_18896077.htm#query=note&position=8&from_view=keyword">Image by rawpixel.com</a> on Freepik</li>
      </ul>
    </details>
    <details>
      <summary> contact </summary>
      <a href="https://github.com/Uhsmt/loop"><i class="fa-brands fa-github icon-font"></i></i></a>
      <a href="https://twitter.com/U__Uhsmt"><i class="fa-brands fa-twitter icon-font"></i></a>
    </details>
    <br>
  </body>
</html>