body {
  padding: 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2e2e2e;
  color: #83cbc0;
}
a {
  color: #00B7FF;
}
#app {
  background-color: #ffffff;
  width: 700px;
  height: 500px;
  cursor: url(../images/pencil.png) 0 18,auto;
}
.icon-font{
  font-size:20px;
}